{% extends 'base.html.twig' %}

{% block body %}

    {% if username is defined %}
        {{ username }}

    {% elseif facebookLoginUrl is defined %}
        <p>Login with Facebook</p>
        <p><a href="{{ facebookLoginUrl }}">Sign in!</a></p>

    {% endif %}


    {% if posts is defined %}
        {% for post in posts.data %}

            {% if post.story is defined %}
                <div class="alert alert-success" role="alert">
                    <b>{{ post.created_time|date('Y-m-d H:i:s') }}</b>
                    {{ post.story }}
                </div>
            {% endif %}

            {% if post.message is defined %}
                <div class="alert alert-info" role="alert">
                    <b>{{ post.created_time|date('Y-m-d H:i:s') }}</b>
                    {{ post.message|raw }}
                </div>
            {% endif %}

        {% endfor %}

    {% endif %}


    {% if photos is defined %}
        {% for album in photos %}

            {% for photos in album %}

                {% for photo in photos %}
                    <div class="col-xs-12 col-sm-6 col-md-4" style="float: left;">
                        <div class="alert alert-success" role="alert">
                            <p>
                                <b>Source: </b><a href="{{ photo.source }}" target="_blank">Open</a>
                            </p>
                            <p>
                                <b>Height: </b> {{ photo.height }}
                                <b>Width: </b> {{ photo.width }}
                            </p>

                            <img src="{{ photo.source }}" class="img-responsive" style="max-width: 100px;">
                        </div>
                    </div>
                {% endfor %}

            {% endfor %}

        {% endfor %}

    {% endif %}

{% endblock %}